.idea/
uuid/
*.exe
pkg/
venv/
*.pyc
grpc_example/
github.com/
*golang.org/
gRPC/src/spidServer/db/spids.spd.bk
gRPC/src/spidServer/db/users.spd.bk
gRPC/src/spidServer/requestHandling/dirty_requests.spd
gRPC/src/spidServer/db/spids.spd
gRPC/src/spidServer/db/users.spd
